* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Nunito, sans-serif;
}
.title {
  font-weight: 800;
}
.header-container {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
  padding-inline: 24px;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
}
main {
  padding: 24px;
}
a {
  text-decoration-line: none;
  color: inherit;
}
.countries-container {
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 16px;
  display: flex;
  gap: 64px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.country-card {
  display: inline-block;
  width: 250px;
  border-radius: 4px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding-bottom: 24px;
  transition: all 0.2s ease-in-out;
}
.country-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);
}
.card-title {
  font-size: 24px;
  margin-block: 16px;
}
.card-text {
  padding-inline: 16px;
}
.card-text p {
  margin-block: 8px;
}
.country-card img {
  width: 100%;
}
